{% extends "CloseApplication/base.html" %}
{% block title %}Task Checklist{% endblock %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'CloseApplication/customJS/Task_Checklist.js' %}?v=00003"></script>
{% endblock %}

{% block content %}
{% include "CloseApplication/listview_outline.html" %}
<div class="modal" id="modal"></div>
<table class="table table-bordered table-hover" id="TaskChecklistTable">
    <thead>
        <tr>
            <th></th>
            <th>Entity</th>
            <th>Task ID</th>
            <th>Description</th>
            <th>Period</th>
            <th>Year</th>
            <th>Occurence</th>
            <th>Owner ID</th>
            <th>Journal Entry</th>
            <td>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody class="bg-white">
        {% for tableValue in TaskChecklist_Values %}
        {% with forloopCounter=forloop.counter|stringformat:"s" %}
        {% with idTemplate_Hash="#group-of-rows"|add:forloopCounter %}
        {% with idTemplate="group-of-rows"|add:forloopCounter %}
        <tr data-toggle="collapse" data-target="{{ idTemplate_Hash }}">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="collapseButton" onclick="collapse_Button_Click()">[+]</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> {# appended the underscore "_" crud url path to create a unique id of the primary key #}
                        <a class="dropdown-item" id="{{ tableValue.id }}_detail" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/tasks/{{ tableValue.id }}">Detail</a>
                        <a class="dropdown-item" id="{{ tableValue.id }}_update" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/tasks/update/{{ tableValue.id }}">Edit</a>
                        <a class="dropdown-item" id="{{ tableValue.id }}_delete" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/tasks/delete/{{ tableValue.id }}">Delete</a>
                    </div>
                </div>
            </td>
            <td>{{ tableValue.entity }}</td>
            <td>{{ tableValue.taskId }}</td>
            <td>{{ tableValue.taskDescription }}</td>
            <td>{{ tableValue.taskPeriod }}</td>
            <td>{{ tableValue.taskYear }}</td>
            <td>{{ tableValue.get_taskOccurence_display }}</td>
            <td>{{ tableValue.taskOwnerId }}</td>
            <td>{{ tableValue.isJE }}</td>
            <td> {{ tableValue.Due_Date }} </td>
            <td>{{ tableValue.aggregateStatus }}</td>
            <td style="display: none;">{{ tableValue.id }}</td>
        </tr>
        {% for subTableValue in subTasklist_Values %} {# This for loop is killing performance -- to see if we can move the display subtasks for parent tasks to front-end. (i.e. on click open, create sub rows, on click close, clear the sub rows) #}
        {% if tableValue.taskIdKey == subTableValue.Get_Related_Period|stringformat:"s" %}
        {# "stringformat" filter property required as subTableValue.taskId type is foreign key vs. charfield on other table #}
        <tr id="{{ idTemplate }}" class="collapse in">
            <td></td>
            <td><button class="open-button" onclick="openForm()">(...)</button></td>
            <td colspan="8">{{ subTableValue.subTaskDescription }}</td>
            <td>{{ subTableValue.get_subTaskStatus_display }}</td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}