{% extends "CloseApplication/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Task Checklist{% endblock %}
{% block content %}
    {% include "CloseApplication/z_formview_template/begin_formview_outline.html" %}
        <p>{{ object.taskId }}</p>
        <p>{{ object.taskDescription }}</p>
        <p>{{ object.taskPeriod }}</p>
        <p>{{ object.taskYear }}</p>
        <p>{{ object.get_taskOccurence_display }}</p>
        <p>{{ object.taskOwnerId }}</p>
        <p>{{ object.get_taskStatus_display }}</p>
        <p>{{ object.isJE }}</p>
        <p>{{ object.pub_date }}</p>
    {% include "CloseApplication/z_formview_template/end_formview_outline.html" %}
{% endblock %}