{% load crispy_forms_tags %}
    {% block content %}
    {% include "CloseApplication/z_formview_template/begin_formview_outline.html" %}
        <h1 class="mt-2">Account Update</h1>
        <hr class="mt-0 mb-4">   
        <form action="/ClosePortal/accountrecs/update/{{ form.initial.id }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <input  type="submit"  value="Submit"  />
        </form>
    {% include "CloseApplication/z_formview_template/end_formview_outline.html" %}
{% endblock %}