{% extends "CloseApplication/base.html" %}

{% block title %}name of the site{% endblock %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'CloseApplication/customJS/accountRecList.js' %}?v=00004"></script>
{% endblock %}
{% block content %}
{% include "CloseApplication/listview_outline.html" %}
<div class="modal" id="modal"></div>
<table class ="table table-striped table-bordered table-hover" id="accountRecListTable">
    <thead>
        <tr>            
            <th></th>
            <th>Entity</th>
            <th>Account Number</th>
            <th>Account Description</th>
            <th>Balance for Period</th>
            <th>Balance for Prior Month</th>
            <th>Year</th>
            <th>Month</th>
            <th>Reconciled Status</th>
            <th>Required</th>
            <th>Owner</th>
            <th>Reviewer</th>
            <th>Attachment</td>
        </tr>
    </thead>
    {% for tableValue in AccountReconciliationList_Values %}
    <tr>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                Action
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="{{ tableValue.id }}_detail" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/accountrecs/detail/{{ tableValue.id }}">Detail</a>
                    <a class="dropdown-item" id="{{ tableValue.id }}_update" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/accountrecs/update/{{ tableValue.id }}">Edit</a>
                    <a class="dropdown-item" id="{{ tableValue.id }}_delete" onclick='return modal_display(this.id)' data-toggle="modal" data-target="#modal" href="/ClosePortal/accountrecs/delete/{{ tableValue.id }}">Delete</a>
                </div>
            </div>
        </td>
        <td>{{ tableValue.entity }}</td>
        <td>{{ tableValue.accountNumber }}</td>
        <td>{{ tableValue.accountDescription }}</td>
        <td>{{ tableValue.accountBalance }}</td>
        <td>{{ tableValue.accountBalance }}</td> {# Need to create template condition to find previous month value#}
        <td>{{ tableValue.reconciliationYear }}</td>
        <td>{{ tableValue.reconciliationPeriod }}</td>
        <td>{{ tableValue.reconciliationStatus }}</td>
        <td>{{ tableValue.reconciliationStatus }}</td> {# To find a way to let user defined what is required or not #}
        <td>{{ tableValue.reconciliationOwnerId }}</td>
        <td>{{ tableValue.reconciliationOwnerId }}</td> {# To find a way to map owner to reviewer #}
        <td>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                    <input type="submit" value="Upload"/>
                </p>
                
                <p>
                <input type="hidden" name="list_pk" value="{{ tableValue.id }}"/>
                </p>
            </form>
        </td>
    </tr>
    {% endfor %}            
</table>
{% endblock %}