<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel = "stylesheet" href="{% static 'CloseApplication/base.css' %}">
    <script src="{% static 'CloseApplication/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'CloseApplication/bootstrap.min.js' %}"></script>
    <script src="{% static 'CloseApplication/popper.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href="{% static 'CloseApplication/jquery.dataTables.min.css' %}">
    <script src="{% static 'CloseApplication/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'CloseApplication/accountRecList.js' %}"></script>
    <script src="{% static 'CloseApplication/Task_Checklist.js' %}"></script>
    
    {% block extrahead %}{% endblock extrahead %}
    {% block extra_js %}{% endblock extra_js %}
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/ClosePortal/CloseSummary">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ClosePortal/Task_Checklist/">Tasks</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/ClosePortal/accountRecList/">Account Balances</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/ClosePortal/EntryApprovalList/">Journal Entries</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0 float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>
      </nav>
      <br>
    <div class="page-wrap">
        {% block content %}{% endblock %}
    </div>

    <footer class="site-footer">
            footer information
    </footer>
</body>
</html>