{% extends "CloseApplication/base.html" %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'CloseApplication/customJS/close_summary.js' %}?v=00005"></script>
<script src="{% static 'CloseApplication/pace.min.js' %}"></script>
<script src="{% static 'CloseApplication/coreui.min.js' %}?v=00003"></script>
<script src="{% static 'CloseApplication/Chart.min.js' %}" class="view-script"></script>
<script src="{% static 'CloseApplication/custom-tooltips.min.js' %}" class="view-script"></script>
<script src="{% static 'CloseApplication/main.js' %}" class="view-script"></script>

{% endblock %}
{% block title %}MEClose{% endblock %}
{% block content %}
        <div class="app-body">
            <!-- Breadcrumb-->
            <div class="container-fluid">
              <div class="animated fadeIn">
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-primary">
                      <div class="card-body pb-0">
                        <div class="btn-group float-right">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                        <div class="text-value">120/130</div>
                        <div>Tasks Completed</div>
                      </div>
                      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-info">
                      <div class="card-body pb-0">
                        <button class="btn btn-transparent p-0 float-right" type="button">
                          <i class="icon-location-pin"></i>
                        </button>
                        <div class="text-value">111/134</div>
                        <div>Journal Entry Tasks Completed</div>
                      </div>
                      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart2" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-warning">
                      <div class="card-body pb-0">
                        <div class="btn-group float-right">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                        <div class="text-value">72/99</div>
                        <div>Account Reconciliations Completed</div>
                      </div>
                      <div class="chart-wrapper mt-3" style="height:70px;">
                        <canvas class="chart" id="card-chart3" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-danger">
                      <div class="card-body pb-0">
                        <div class="btn-group float-right">
                          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                        <div class="text-value">46/140</div>
                        <div>Journal Entries Approved</div>
                      </div>
                      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart4" height="70"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                </div>
                <!-- /.row-->
                <div class="container-fluid"></div>
                <div class="row">
                <div class="col-lg">
                  <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-5">
                        <h4 class="card-title mb-0">Journal Entries Posted</h4>
                        <div class="small text-muted">November 2017</div>
                      </div>
                      <!-- /.col-->
                      <div class="col-sm-7 d-none d-md-block">
                        <button class="btn btn-primary float-right" type="button">
                          <i class="icon-cloud-download"></i>
                        </button>
                        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                          <label class="btn btn-outline-secondary">
                            <input id="option1" type="radio" name="options" autocomplete="off"> Day
                          </label>
                          <label class="btn btn-outline-secondary active">
                            <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                          </label>
                          <label class="btn btn-outline-secondary">
                            <input id="option3" type="radio" name="options" autocomplete="off"> Year
                          </label>
                        </div>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.row-->
                    <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                      <canvas class="chart" id="journalentry-chart" height="300"></canvas>
                    </div>
                  </div>
                </div>
                </div>

                <div class="col-md">
                  <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-5">
                        <h4 class="card-title mb-0">Accounts Reconciled</h4>
                        <div class="small text-muted">November 2017</div>
                      </div>
                      <!-- /.col-->
                      <div class="col-sm-7 d-none d-md-block">
                        <button class="btn btn-primary float-right" type="button">
                          <i class="icon-cloud-download"></i>
                        </button>
                        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                          <label class="btn btn-outline-secondary">
                            <input id="option1" type="radio" name="options" autocomplete="off"> Day
                          </label>
                          <label class="btn btn-outline-secondary active">
                            <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                          </label>
                          <label class="btn btn-outline-secondary">
                            <input id="option3" type="radio" name="options" autocomplete="off"> Year
                          </label>
                        </div>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.row-->
                    <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                      <canvas class="chart" id="accountrec-chart" height="300"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              </div>
                <!-- /.card-->
                <div class="row">
                  <div class="col-lg-6 col-lg-6">
                  <div class="card">
                      <table class="table table-striped table-bordered table-hover" id="EntryApproval_ChecklistTable">
                      <thead>
                        <tr>
                            <th>User</th>
                            <th>Team</th>
                            <th>Entity</th>
                            <th>Manager</th>
                            <th>Reviewer</th>
                            <th>Username</th>
                        </tr>
                      </thead>
                      <tr>
                      <td>3</td>
                      <td>3</td>
                      <td>3</td>
                      <td>3</td>
                      <td>3</td>
                      <td>3</td>
                      </tr>
                      </table>
                      </div>
                    </div>
                  <!-- /.col-->
                  <div class="col-lg-6 col-lg-6">
                  <div class="card">
                      <table class="table table-striped table-bordered table-hover" id="EntryApproval_ChecklistTable">
                      <thead>
                        <tr>
                            <th>User</th>
                            <th>Team</th>
                            <th>Entity</th>
                            <th>Manager</th>
                            <th>Reviewer</th>
                            <th>Username</th>
                        </tr>
                      </thead>
                      <tr>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      </tr>
                      </table>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->
                  <!-- /.col-->
                </div>
                <!-- /.row-->
                  <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">Month-End Tasks</div>
                      <div class="card-body">
                      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                        <canvas class="chart" id="task-chart" height="300"></canvas>
                      </div>  
                      </div>
                    </div>
                    </div>
                  <!-- /.col-->
                  <div class="col-md-12">
                  <div class="card">

                                        <table class="table table-striped table-bordered table-hover" id="EntryApproval_ChecklistTable">
                      <thead>
                        <tr>
                            <th>User</th>
                            <th>Team</th>
                            <th>Entity</th>
                            <th>Manager</th>
                            <th>Reviewer</th>
                            <th>Username</th>
                        </tr>
                      </thead>
                      <tr>
                      <td>2</td>
                      <td>2</td>
                      <td>2</td>
                      <td>2</td>
                      <td>2</td>
                      <td>2</td>
                      </tr>
                      </table>

                  </div>
                  </div>
                </div>
                <!-- /.row-->
              </div>
            </div>
        </div>
        <!-- Plugins and scripts required by this view-->
        <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
        <script src="js/main.js"></script>
{% endblock %}