{% extends "CloseApplication/base.html" %}
{% load static %}

{% block title %}name of the site{% endblock %}
{% block content %}
        <table class ="table table-striped table-bordered table-hover" id="EntryApproval_ChecklistTable">
            <thead>
            <tr>
                <th></th>
                <th>Entity</th>
                <th>Entry Number</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Posting Date</th>
                <th>Reversed?</th>
                <th>Reversal Number</th>
                <th>Posting Username</th>
                <th>Reviewer Username</th>
                <th>Approval Status</th>
                <th>Approval Comments</th>
            </tr>
            </thead>
            {% for tableValue in journalEntryApprovalList_Values %}
            <tr>
                <td><button class="btn btn-indigo btn-rounded btn-sm m-0" onclick="openForm()">Edit</button></td>
                <td>{{ tableValue.entity }}</td>
                <td>{{ tableValue.entryNumber }}</td>
                <td>{{ tableValue.entryReference }}</td>
                <td>{{ tableValue.entryDescription }}</td>
                <td>{{ tableValue.postingDate }}</td>
                <td>{{ tableValue.entryReversed }}</td>
                <td>{{ tableValue.reversalNumber }}</td>
                <td>{{ tableValue.postingUsername }}</td>
                <td>{{ tableValue.postingReviewer }}</td>
                <td>{{ tableValue.approvalStatus }}</td>
                <td>{{ tableValue.approvalStatus_Description }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}