<div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input id="option1" type="radio" name="options" autocomplete="off"> Day
    </label>
    <label class="btn btn-outline-secondary active">
        <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
    </label>
    <label class="btn btn-outline-secondary">
        <input id="option3" type="radio" name="options" autocomplete="off"> Year
    </label>
</div>
<div class="table_wrapper">
    {% block content %}{% endblock %}
</div>
